@charset"UTF-8";

html{
  min-height: 100%;
  position: relative;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: #cbcbcb;    
}

#container{
    width: 90%;
    margin:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav{
    width: 100vw;
    height: 30px;    
}

.navbar-light{
    background-color: rgba(62, 145, 216, 0.62) !important;
}

nav a{
    color: white !important;
}
.nav>li>a:focus, .nav>li>a:hover {    
    background-color: rgb(29, 99, 159);
}
nav .storypub{
    margin-top: -10px;
    height: 40px;
}

h1, h2{
    text-align: center;
}

footer p{
    text-align: center;
}

footer{
    margin-top: 20px;
}

#mens{
    height: 15px;
    width: 254.667px;
    color: red;
}

